/*--------------------------------------------------------------
Icons - creationell Theme v7.0.0
--------------------------------------------------------------*/

.creationell-theme-icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
}